<!DOCTYPE html>
<html lang="en" ng-app="App">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Trilha Brasil">
        <meta name="author" content="Fabrício Ronchi - João Schimitt">
        <link rel="icon" href="img/icon.svg" >
        <link href="../../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
        <link href="../../css/style.css" rel="stylesheet" />
    </head>
    <body ng-controller="EventosController" class="ng-cloak">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Trilha/home">Trilha Brasil</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Trilha/home/gerenciar-eventos">Gerenciar meus eventos</a></li>
                        <li class="active"><a href="/Trilha/home/gerenciar-trilheiros">Gerenciar trilheiros</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form navbar-right" role="form">                    
                                <button type="button" class="btn btn-primary btn-cadastrar" ng-click="close()">
                                    <i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Sair
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container container-new-user">
            <div class="row">
                <div class="col-sm-6">
                    <form role="form" name="myForm">
                        <div class="form-group">
                            <label>Identificador do trilheiro</label>
                            <input type="text" class="form-control" placeholder="Nome do trileiro" ng-model="form.id" ng-readonly="true" required>
                        </div>
                        <div class="form-group">
                            <label>Nome do trilehro</label>
                            <input type="text" class="form-control" placeholder="Nome do evento" ng-model="form.nome" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email" ng-model="form.email" required>
                        </div>
                        <div class="form-group">
                            <label>Telefone</label>
                            <input type="text" class="form-control" placeholder="Telefone" ng-model="form.telefone" required>
                        </div>
                        <div class="form-group">
                            <label>Imagem</label>
                            <input type="text" class="form-control" placeholder="Link da imagem" ng-model="form.imagems[0].url" required>
                        </div>                        
                        <button type="button" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="salvar()">
                            <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Salvar
                        </button>    
                        <button type="button" class="btn btn-success" ng-click="novo()">
                            <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Novo
                        </button>
                    </form>
                </div>
                <div class="col-sm-6">
                    <table border="1">
                        <thead>
                            <tr>                                
                                <td>Nome</td>                                
                                <td>Remover</td>
                                <td>Modificar</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="evento in eventos| orderBy:'data'">                                
                                <td>{{evento.nome}}</td>                                
                                <td>
                                    <button type="submit" class="btn-xs btn-danger" ng-click="remover(evento)" >
                                        <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Remover
                                    </button>
                                </td>
                                <td>
                                    <button type="submit" class="btn-xs btn-warning" ng-click="modificar(evento)" >
                                        <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Modificar
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="../../libs/jquery/jquery.js"></script>
    <script type="text/javascript" src="../../libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../libs/angularjs/js/angular.min.js"></script>                
    <script type="text/javascript" src="../../libs/angular-strap/js/angular-strap.min.js"></script>        
    <script type="text/javascript" src="js/app.js"></script>
</html>
