<!DOCTYPE html>
<html lang="en" ng-app="App">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Trilha Brasil">
        <meta name="author" content="Fabrício Ronchi - João Schimitt">
        <link rel="icon" href="img/icon.svg" >
        <link href="../../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
        <link href="../../css/style.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
    </head>
    <body ng-controller="EventosController" class="ng-cloak">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Trilha/home">Trilha Brasil</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/Trilha/home/gerenciar-eventos">Gerenciar meus eventos</a></li>
                    	<li><a href="/Trilha/home/gerenciar-trilheiros">Gerenciar Trilheiros</a></li>
                    	<li class="active" ><a href="/Trilha/home/gerenciar-trilhas">Gerenciar Trilhas</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form navbar-right" role="form">                    
                                <button type="button" class="btn btn-primary btn-cadastrar" ng-click="close()">
                                    <i class="glyphicon glyphicon-log-out"></i>&nbsp;&nbsp;Sair
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container container-new-user">
            <div class="row">
                <div class="col-sm-6">
                    <div id="map"></div>
                    <br />
                    <form role="form" name="myForm">
                        <div class="form-group">
                            <label>Estado</label>
                            <input type="text" class="form-control" data-animation="am-flip-x" ng-options="est as est.nome for est in estados" placeholder="Estado" ng-model="map.estado" bs-typeahead required>                            
                        </div>
                        <div class="form-group">
                            <label>Cidade</label>                            
                            <input type="text" class="form-control" data-animation="am-flip-x" ng-options="cid as cid for cid in getCidades()" placeholder="Cidade" ng-model="map.cidade" ng-disabled="validarEstado()" required bs-typeahead>
                        </div>
                        <div class="form-group">
                            <label>Nome da Trilha</label>
                            <input type="text" class="form-control" placeholder="Nome da Trilha" ng-model="map.nome" required>
                        </div>  
                        <button type="button" class="btn btn-success" ng-disabled="myForm.$invalid" ng-click="salvarTrilha(map)">
                            <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Salvar
                        </button>
                    </form>
                </div>
                <div class="col-sm-6">
                    <table border="1">
                        <thead>
                            <tr>                                
                                <td>Nome</td>                                
                                <td>Estado</td>
                                <td width="100px">Ações</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="evento in eventos| orderBy:'data'">                                
                                <td>{{evento.nome}}</td> 
                                <td>{{evento.estado}}</td>
                                <td width="100px">
                                    <button type="submit" class="btn-xs btn-danger" ng-click="remover(evento)" >
                                        <i class="glyphicon glyphicon-ok"></i>&nbsp;&nbsp;Remover
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="../../libs/jquery/jquery.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=drawing"></script>
    <script type="text/javascript" src="../../libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../libs/angularjs/js/angular.min.js"></script>                
    <script type="text/javascript" src="../../libs/angular-strap/js/angular-strap.min.js"></script>        
    <script type="text/javascript" src="js/app.js"></script>
</html>
